.oddnumber {
    background-color: pink;
    font-family: Verdana;
}

#secondelement {
    color: blue;
    font-family: 36px;
}

.cooler {
    font-size: 24px;
}

#fourthelement {
    background-color:  rgb(183, 245, 183); 
    font-size: 24px;
    font-weight: bold;
}

